@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ben Spalding</h1>
    <p class="lead">Animals for Sale</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ANIMALS</h2>
        <p>
            ANIMALS FOR YOU TO BUY
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/Inventory.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Look at these Animals</h2>
        <p>Go to this website</p>
        <p><a class="btn btn-default" href="~/Views/Home/Inventory.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage</h2>
        <p>Edit the things</p>
        <p><a class="btn btn-default" href="~/Views/Home/Manage.cshtml">Learn more &raquo;</a></p>
    </div>
</div>