
@{
    ViewBag.Title = "Inventory";
}
<div class="jumbotron">
    <h1>Inventory</h1>
    <p class="lead">Animals for Sale, price is on its own page</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>Sundar the Chameleon</h3>
        <p>Sundar enjoys eating the flesh of the innocent</p>
    </div>

    <div class="col-md-3">
        <h3>Fro'h J G'il the Cat</h3>
        <p>We like to call him Cuddles even though he can talk and has corrected us on numerous occasions.</p>
    </div>

    <div class="col-md-3">
        <h3>Mister Smuglems the Dogs</h3>
        <p>This is a good bunch of animals that are attatched to each other. Look at it this way, you get a discount for buying in bulk!</p>
    </div>
</div>

<div class="row">

    <div class="col-md-3">
        <h3>Dog</h3>
        <p>An actual dog and in no way a shapeshifter wanting to take over your identity. This dog enjoys owners who are rich and wealthy with everything anyone could ever ask for.</p>
    </div>

    <div class="col-md-3">
        <h3>Ben Spalding</h3>
        <p>Will code for A+</p>
    </div>

</div>